rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }

    match /profiles/{userId}/{fileName} {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == userId && request.resource.size < 5 * 1024 * 1024;
    }

    match /products/{vendorId}/{fileName} {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == vendorId && request.resource.size < 5 * 1024 * 1024;
    }

    match /fssai/{vendorId}/{fileName} {
      allow read, write: if signedIn() && request.auth.uid == vendorId && request.resource.size < 5 * 1024 * 1024;
    }
  }
}
